<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>WOW such error!</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
</head>
<body>
<h1>Something went wrong:</h1>
<p>$msg</p>
<p><img src='/images/dogeError.jpg'/></p>
Much Details!
<ul>
    <li>Error Code: <b>$errorCode</b></li>
    <li>Error Category: <b>$errorCategory</b></li>
    <li>Http Status: <b>$httpStatus</b></li>
</ul>
</body>
</html>