<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Welcome to $model.poolName dogecoin mining pool</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
</head>
<body>

<div class="main container">

<h1 class="ui header">Welcome to $model.poolName dogecoin mining pool</h1>
<p>$model.miningUserCount users currently mining, for a global hashrate of $model.gigaHashrate GHash/s</p>
<p>
    $model.dogeToUsdMessage
    <br/>$model.dogeToEurMessage
</p>
<p>
<div class="ui divider" ></div>
<h2 class="ui header">TOP 10 Miners by Hashrate </h2>
<div class="ui ordered list">
  #foreach( $userStat in $model.hashLadder )
      <div class="item">
          <div class="content">
              <a href="/miner/$userStat.user.id" class="header">$userStat.user.nickname</a>
              <div class="description">$userStat.hashrate GHash/s</div>
          </div>
      </div>
  #end
</div>
<div class="ui divider" ></div>
<h2 class="ui header">TOP 10 Miners by Coins Found</h2>
<div class="ui ordered list">
  #foreach($userStat in $model.coinsLadder)
      <div class="item">
          <div class="content">
              <a href="/miner/$userStat.user.id" class="header">$userStat.user.nickname</a>
              <div class="description">$userStat.totalCoinsMined dogecoins</div>
          </div>
      </div>
  #end
</div>
</div>


</body>
</html>