<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Miner $minerModel.displayName</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
</head>
<body>

<div class="ui card">
    <a class="image" href="#">
        <img src='$minerModel.avatarUrl' width=50 height=50/>
    </a>
    <div class="content">
        <div class="header">
            <div class="right floated author"><img src="$minerModel.smallAvatarUrl" class="ui avatar image" /> $minerModel.nickname</div>
            $minerModel.displayName
        </div>
        <div class="description">
            <p>$minerModel.bio</p>
        </div>
    </div>
    <div class="extra content">
    <span class="left floated like">
      Rank by Coins: $minerModel.rankByCoins
    </span>
    <span class="right floated star">
      Rank by Hashrate: $minerModel.rankByHash
    </span>
    </div>
</div>
</body>
</html>